{% extends "base.html" %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% load static %}
{% block title %} Información{% endblock %}
{% if object_list %}

    {% block body %}
        {% for blog in object_list %}




            {% block content %}

                <div class="container text-center">

                    {% if user.is_authenticated %}

                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8 "><h2>Creados</h2>
                                <div class="container">
                                    <table class="table table-striped ">
                                        <thead>
                                        <tr>
                                            <th>Tema</th>
                                            <th>Creacion</th>
                                            <th>Acciones</th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>{{ blog.theme }}</td>
                                            <td>{{ blog.date }}</td>
                                            <td><a href="{% url 'blogcrear' %}">
                                                <button type="button" class="btn btn-primary">Agregar blog</button>
                                            </a></td>
                                            <td><a href="{% url 'blogdetalle' blog.id %}">
                                                <button type="button" class="btn btn-info">Detalle</button>
                                            </a></td>
                                            <td><a href="{% url 'blog_update' blog.id %}">
                                                <button type="button" class="btn btn-primary">Actualizar</button>
                                            </a></td>
                                            <td><a href="{% url 'blog_delete' blog.id %}">
                                                <button type="button" class="btn btn-danger">Borrar</button>
                                            </a></td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>

                        </div>




                    {% endif %}

            {% endblock %}

            </li>
        {% endfor %}
    {% endblock body %}
{% else %}
    <h1> No hay blogs</h1>
{% endif %}



