{% load bootstrap5 %}
{% bootstrap_css %}


{% if blog_list  %}


{% for blog in blog_list  %}

<br>
    <li>


    {% block content %}

<div class="container text-center">
        <a href="{% url 'blogdetalle' blog.id %}"><button type="button" class="btn btn-info">Detalles de: {{blog.titulo}}</button></a>



        {% if user.is_authenticated %}

          <a href="{% url 'blog_delete' blog.id %}"><button type="button" class="btn btn-danger">Borrar</button></a>

          <a href="{% url 'blog_update' blog.id %}"><button type="button" class="btn btn-primary">Actualizar</button></a>

</div>
        {% endif %}

    {% endblock %}

    </li>
    {% endfor %}
    <br>
    <a href="{% url 'blogcrear'%}"><button type="button" class="btn btn-primary">Agregar blog</button></a>
    <br>
    <br>
  {% else %}
  <h1> No hay blogs</h1>
  {% endif %}


