{% extends "base.html" %}
{% load bootstrap5 %}
{% bootstrap_css %}

{% block title %}Nuevo Blog{% endblock %}
{% block body %}
    <div class="container">
        <h1>Nuevo Blog</h1>
    </div>
    <form method="post">
        {% csrf_token %}

        {% bootstrap_form form layout='inline'%}


        <br>


        {% bootstrap_button "Guardar" button_type="submit" button_class="btn-success" %}
        <a href="{% url 'bloginicio' %}" class="btn btn-info" role="button">Regresar</a>



    </form>
{% endblock %}