{% load bootstrap5 %}
{% bootstrap_css %}
{% load static %}

<a class="btn btn-secondary" href="{% url 'users' %}" role="button">Volver a Lista De Usuarios</a>

{% block content %}

<div style= "width:50%; margin :auto; margin-top: 20;">

<ul class="list-group list-group-flush">
    <li class="list-group-item">Nombre: {{user.first_name}}</li>
    <li class="list-group-item">Apellido: {{user.last_name}}</li>
    <li class="list-group-item">Email: {{user.email}}</li>
    <li class="list-group-item">Nombre de Usuario: {{user.username}}</li>
  
  </ul>
</div>
{% endblock content %}>

<img height="128" src="{{ object.avatar_set.first.image.url }}" />

